.wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--darkColor);
  padding-top: 60px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.memeGenerator,
.inputFeild {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.genBtn {
  background-color: var(--genColor);
}

.genBtn:hover {
  background-color: var(--genHoverColor);
}

.nextBtn:hover {
  background-color: var(--nextHoverColor);
}

/* memeImg  */

.memeImg {
  width: 500px;
  height: 500px;
}
