.container {
  text-align: center;
}

.genBtn {
  background-color: var(--genColor);
}

.genBtn:hover {
  background-color: var(--genHoverColor);
}

.nextBtn {
  display: inline-block;
  margin-left: 30px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 21px 30px;
  background-color: var(--nextColor);
  border-radius: 3px;
}

.nextBtn:hover {
  background-color: var(--nextHoverColor);
}

.memeImg {
  width: 500px;
  height: 500px;
  margin: 50px auto;
}
