.footer {
  position: relative;
  padding: 0 0 40px;
  background-color: var(--dark-clr);
}

.transformTop {
  padding-top: 0;
  transform: translateY(-70px);
}

ul {
  margin: 0;
  padding: 0;
}

.links {
  margin-top: 30px;
  row-gap: 13px;
}

li {
  list-style: none;
}

.links li a {
  text-transform: capitalize;
  color: var(--white-clr);
  transition: all 0.3s ease-in-out;
}

.links li a:hover {
  color: var(--blue-clr);
}

.addLink {
  column-gap: 14px;
}

.addLink span {
  font-size: var(--font-24);
  color: var(--orange-clr);
}

.copyright {
  padding-top: 40px;
  border-top: 1px solid var(--fade-clr);
}

.logo a {
  color: var(--white-clr);
}

.logo a img {
  width: min-content;
}

.copyText p a {
  color: var(--blue-clr);
}

.social ul {
  column-gap: 14px;
}

.social ul li a {
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.social ul li a:hover {
  transform: translateY(-4px);
}

/* media query start  */

@media screen and (max-width: 991px) {
  .footer {
    padding: 0 0 140px;
  }

  .transformTop {
    padding-top: 0;
    transform: translateY(-70px);
  }

  .footerContent {
    margin-bottom: 30px;
  }

  .social {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    margin-bottom: 10px;
  }

  .transformTop {
    padding-top: 0;
    transform: translateY(-40px);
  }
}

/* media query end  */
