.addBtn {
  padding: 14px 34px;
  color: var(--white-clr);
  text-transform: capitalize;
  background-color: var(--orange-clr) !important;
  border-radius: 4px;
}

.addBtn:hover {
  color: var(--white-clr);
  background-color: var(--orange-hover-clr) !important;
}

.addBtn.blue {
  background-color: var(--blue-clr) !important;
}

.addBtn.round {
  border-radius: 30px;
}

.addBtn.border {
  color: var(--dark-clr);
  background-color: transparent !important;
  border: 2px solid var(--orange-clr) !important;
}

.addBtn.border:hover {
  color: var(--white-clr);

  background-color: var(--orange-hover-clr) !important;
}

.addBtn.blue.border {
  border-color: var(--blue-clr) !important;
  background-color: transparent !important;
}

.addBtn.blue.border:hover {
  color: var(--white-clr);

  background-color: var(--blue-clr) !important;
}
