.pageNavigation {
  font-family: var(--nunito-bold);
  text-transform: capitalize;
  background: url("../images/banner.jpg") no-repeat center center/cover;
}

.breadcrumbs {
  row-gap: 14px;
}

.breadcrumbs h1 {
  font-size: var(--font-48);
  color: var(--blue-clr);
}

.breadcrumbNav ol li {
  color: var(--fade-clr);
}

.breadcrumbNav ol li a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.breadcrumbNav ol li a:hover {
  color: var(--blue-clr);
}

/* media query start  */

@media screen and (max-width: 575px) {
  .breadcrumbs h1 {
    font-size: var(--font-30);
    color: var(--blue-clr);
  }
}

/* media query end  */
