/* .counter:first-child .sinlgeCount {
  background: red;
} */

.counter .sinlgeCount {
  padding: 60px 0;
  gap: 10px;
  background: url("../../images/about/bg1.png") no-repeat center center/cover;
  border-radius: 6px;
}

.sinlgeCount p {
  font-size: var(--font-20);
}

/* media query start  */

@media screen and (max-width: 767px) {
  .counter .sinlgeCount {
    margin-bottom: 30px;
  }
  .counter:last-child .sinlgeCount {
    margin-bottom: 0;
  }
}

/* media query start  */
